# Refrences

https://pandas.pydata.org/docs/user_guide/dsintro.html

https://medium.com/analytics-vidhya/pandas-complete-guide-a-z-36ba8bd15232

# Cheat Sheet

https://pandas.pydata.org/docs/user_guide/10min.html

https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf

https://www.webpages.uidaho.edu/~stevel/cheatsheets/Pandas%20DataFrame%20Notes_12pages.pdf

In [1]:
from IPython.display import HTML
HTML('<iframe src=https://pandas.pydata.org/docs/user_guide/10min.html width=700 height=350></iframe>')

C:\Users\rushi\.conda\envs\NativeLearning\lib\site-packages\IPython\core\display.py:431: UserWarning: Consider using IPython.display.IFrame instead
  warnings.warn("Consider using IPython.display.IFrame instead")

In [2]:
from IPython.display import HTML
HTML('<iframe src=https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf width=700 height=350></iframe>')

# File I/O
# Info, Shape, Duplicated and Drop
# Columns
# NaN and Null Values
# Imputation
# Lambda Functions

https://tigeranalytics.udemy.com/course/python-for-advanced-linear-regression-masterclass/learn/lecture/23694652#overview

# Copy Pandas df

In [ ]:
df2 = df1.copy() # This is important as sometimes variables points to same df

# MAP function

In [6]:
import pandas as pd
d = {'col1': [0, 1, 2, 3],
     'col2': pd.Series([2, 3], index=[2, 3]),
     'col3':['Yes','No','No','Yes']}
df = pd.DataFrame(data=d, index=[0, 1, 2, 3])
df

   col1  col2 col3
0     0   NaN  Yes
1     1   NaN   No
2     2   2.0   No
3     3   3.0  Yes

In [7]:
df['cat_to_num'] = df['col3'].map({'Yes':1,'No':0})
df

   col1  col2 col3  cat_to_num
0     0   NaN  Yes           1
1     1   NaN   No           0
2     2   2.0   No           0
3     3   3.0  Yes           1

In [9]:
df.describe(include='all')

            col1      col2 col3  cat_to_num
count   4.000000  2.000000    4     4.00000
unique       NaN       NaN    2         NaN
top          NaN       NaN  Yes         NaN
freq         NaN       NaN    2         NaN
mean    1.500000  2.500000  NaN     0.50000
std     1.290994  0.707107  NaN     0.57735
min     0.000000  2.000000  NaN     0.00000
25%     0.750000  2.250000  NaN     0.00000
50%     1.500000  2.500000  NaN     0.50000
75%     2.250000  2.750000  NaN     1.00000
max     3.000000  3.000000  NaN     1.00000

In [ ]:
# lamda functions in map

# loc vs iloc

https://stackoverflow.com/questions/31593201/how-are-iloc-and-loc-different

<div class="s-prose js-post-body" itemprop="text">
<h2>loc <em>vs.</em> iloc = Label <em>vs.</em> Location</h2>
<p>The main distinction between the two methods is:</p>
<ul>
<li><p><code>loc</code> gets rows (and/or columns) with particular <strong>labels</strong>.</p>
</li>
<li><p><code>iloc</code> gets rows (and/or columns) at integer <strong>locations</strong>.</p>
</li>
</ul>
<p>To demonstrate, consider a series <code>s</code> of characters with a non-monotonic integer index:</p>
<pre class="lang-py s-code-block"><code class="hljs language-python"><span class="hljs-meta">&gt;&gt;&gt; </span>s = pd.Series(<span class="hljs-built_in">list</span>(<span class="hljs-string">"abcdef"</span>), index=[<span class="hljs-number">49</span>, <span class="hljs-number">48</span>, <span class="hljs-number">47</span>, <span class="hljs-number">0</span>, <span class="hljs-number">1</span>, <span class="hljs-number">2</span>]) 
<span class="hljs-number">49</span>    a
<span class="hljs-number">48</span>    b
<span class="hljs-number">47</span>    c
<span class="hljs-number">0</span>     d
<span class="hljs-number">1</span>     e
<span class="hljs-number">2</span>     f

<span class="hljs-meta">&gt;&gt;&gt; </span>s.loc[<span class="hljs-number">0</span>]    <span class="hljs-comment"># value at index label 0</span>
<span class="hljs-string">'d'</span>

<span class="hljs-meta">&gt;&gt;&gt; </span>s.iloc[<span class="hljs-number">0</span>]   <span class="hljs-comment"># value at index location 0</span>
<span class="hljs-string">'a'</span>

<span class="hljs-meta">&gt;&gt;&gt; </span>s.loc[<span class="hljs-number">0</span>:<span class="hljs-number">1</span>]  <span class="hljs-comment"># rows at index labels between 0 and 1 (inclusive)</span>
<span class="hljs-number">0</span>    d
<span class="hljs-number">1</span>    e

<span class="hljs-meta">&gt;&gt;&gt; </span>s.iloc[<span class="hljs-number">0</span>:<span class="hljs-number">1</span>] <span class="hljs-comment"># rows at index location between 0 and 1 (exclusive)</span>
<span class="hljs-number">49</span>    a
</code></pre>
<p>Here are some of the differences/similarities between <code>s.loc</code> and <code>s.iloc</code> when passed various objects:</p>
<div class="s-table-container">
<table class="s-table">
<thead>
<tr>
<th>&lt;object&gt;</th>
<th>description</th>
<th><code>s.loc[&lt;object&gt;]</code></th>
<th><code>s.iloc[&lt;object&gt;]</code></th>
</tr>
</thead>
<tbody>
<tr>
<td><code>0</code></td>
<td>single item</td>
<td>Value at index <em>label</em> <code>0</code> (the string <code>'d'</code>)</td>
<td>Value at index <em>location</em> 0 (the string <code>'a'</code>)</td>
</tr>
<tr>
<td><code>0:1</code></td>
<td>slice</td>
<td><strong>Two</strong> rows (labels <code>0</code> and <code>1</code>)</td>
<td><strong>One</strong> row (first row at location 0)</td>
</tr>
<tr>
<td><code>1:47</code></td>
<td>slice with out-of-bounds end</td>
<td><strong>Zero</strong> rows (empty Series)</td>
<td><strong>Five</strong> rows (location 1 onwards)</td>
</tr>
<tr>
<td><code>1:47:-1</code></td>
<td>slice with negative step</td>
<td><strong>three</strong> rows (labels <code>1</code> back to <code>47</code>)</td>
<td><strong>Zero</strong> rows (empty Series)</td>
</tr>
<tr>
<td><code>[2, 0]</code></td>
<td>integer list</td>
<td><strong>Two</strong> rows with given labels</td>
<td><strong>Two</strong> rows with given locations</td>
</tr>
<tr>
<td><code>s &gt; 'e'</code></td>
<td>Bool series (indicating which values have the property)</td>
<td><strong>One</strong> row (containing <code>'f'</code>)</td>
<td><code>NotImplementedError</code></td>
</tr>
<tr>
<td><code>(s&gt;'e').values</code></td>
<td>Bool array</td>
<td><strong>One</strong> row (containing <code>'f'</code>)</td>
<td>Same as <code>loc</code></td>
</tr>
<tr>
<td><code>999</code></td>
<td>int object not in index</td>
<td><code>KeyError</code></td>
<td><code>IndexError</code> (out of bounds)</td>
</tr>
<tr>
<td><code>-1</code></td>
<td>int object not in index</td>
<td><code>KeyError</code></td>
<td>Returns last value in <code>s</code></td>
</tr>
<tr>
<td><code>lambda x: x.index[3]</code></td>
<td>callable applied to series (here returning 3<sup>rd</sup> item in index)</td>
<td><code>s.loc[s.index[3]]</code></td>
<td><code>s.iloc[s.index[3]]</code></td>
</tr>
</tbody>
</table>
</div>
<p><code>loc</code>'s label-querying capabilities extend well-beyond integer indexes and it's worth highlighting a couple of additional examples.</p>
<p>Here's a Series where the index contains string objects:</p>
<pre class="lang-py s-code-block"><code class="hljs language-python"><span class="hljs-meta">&gt;&gt;&gt; </span>s2 = pd.Series(s.index, index=s.values)
<span class="hljs-meta">&gt;&gt;&gt; </span>s2
a    <span class="hljs-number">49</span>
b    <span class="hljs-number">48</span>
c    <span class="hljs-number">47</span>
d     <span class="hljs-number">0</span>
e     <span class="hljs-number">1</span>
f     <span class="hljs-number">2</span>
</code></pre>
<p>Since <code>loc</code> is label-based, it can fetch the first value in the Series using <code>s2.loc['a']</code>. It can also slice with non-integer objects:</p>
<pre class="lang-py s-code-block"><code class="hljs language-python"><span class="hljs-meta">&gt;&gt;&gt; </span>s2.loc[<span class="hljs-string">'c'</span>:<span class="hljs-string">'e'</span>]  <span class="hljs-comment"># all rows lying between 'c' and 'e' (inclusive)</span>
c    <span class="hljs-number">47</span>
d     <span class="hljs-number">0</span>
e     <span class="hljs-number">1</span>
</code></pre>
<p>For DateTime indexes, we don't need to pass the exact date/time to fetch by label. For example:</p>
<pre class="lang-py s-code-block"><code class="hljs language-python"><span class="hljs-meta">&gt;&gt;&gt; </span>s3 = pd.Series(<span class="hljs-built_in">list</span>(<span class="hljs-string">'abcde'</span>), pd.date_range(<span class="hljs-string">'now'</span>, periods=<span class="hljs-number">5</span>, freq=<span class="hljs-string">'M'</span>)) 
<span class="hljs-meta">&gt;&gt;&gt; </span>s3
<span class="hljs-number">2021</span>-01-<span class="hljs-number">31</span> <span class="hljs-number">16</span>:<span class="hljs-number">41</span>:<span class="hljs-number">31.879768</span>    a
<span class="hljs-number">2021</span>-02-<span class="hljs-number">28</span> <span class="hljs-number">16</span>:<span class="hljs-number">41</span>:<span class="hljs-number">31.879768</span>    b
<span class="hljs-number">2021</span>-03-<span class="hljs-number">31</span> <span class="hljs-number">16</span>:<span class="hljs-number">41</span>:<span class="hljs-number">31.879768</span>    c
<span class="hljs-number">2021</span>-04-<span class="hljs-number">30</span> <span class="hljs-number">16</span>:<span class="hljs-number">41</span>:<span class="hljs-number">31.879768</span>    d
<span class="hljs-number">2021</span>-05-<span class="hljs-number">31</span> <span class="hljs-number">16</span>:<span class="hljs-number">41</span>:<span class="hljs-number">31.879768</span>    e
</code></pre>
<p>Then to fetch the row(s) for March/April 2021 we only need:</p>
<pre class="lang-py s-code-block"><code class="hljs language-python"><span class="hljs-meta">&gt;&gt;&gt; </span>s3.loc[<span class="hljs-string">'2021-03'</span>:<span class="hljs-string">'2021-04'</span>]
<span class="hljs-number">2021</span>-03-<span class="hljs-number">31</span> <span class="hljs-number">17</span>:04:<span class="hljs-number">30.742316</span>    c
<span class="hljs-number">2021</span>-04-<span class="hljs-number">30</span> <span class="hljs-number">17</span>:04:<span class="hljs-number">30.742316</span>    d
</code></pre>
<h2>Rows and Columns</h2>
<p><code>loc</code> and <code>iloc</code> work the same way with DataFrames as they do with Series. It's useful to note that both methods can address columns and rows together.</p>
<p>When given a tuple, the first element is used to index the rows and, if it exists, the second element is used to index the columns.</p>
<p>Consider the DataFrame defined below:</p>
<pre class="lang-py s-code-block"><code class="hljs language-python"><span class="hljs-meta">&gt;&gt;&gt; </span><span class="hljs-keyword">import</span> numpy <span class="hljs-keyword">as</span> np 
<span class="hljs-meta">&gt;&gt;&gt; </span>df = pd.DataFrame(np.arange(<span class="hljs-number">25</span>).reshape(<span class="hljs-number">5</span>, <span class="hljs-number">5</span>),  
                      index=<span class="hljs-built_in">list</span>(<span class="hljs-string">'abcde'</span>), 
                      columns=[<span class="hljs-string">'x'</span>,<span class="hljs-string">'y'</span>,<span class="hljs-string">'z'</span>, <span class="hljs-number">8</span>, <span class="hljs-number">9</span>])
<span class="hljs-meta">&gt;&gt;&gt; </span>df
    x   y   z   <span class="hljs-number">8</span>   <span class="hljs-number">9</span>
a   <span class="hljs-number">0</span>   <span class="hljs-number">1</span>   <span class="hljs-number">2</span>   <span class="hljs-number">3</span>   <span class="hljs-number">4</span>
b   <span class="hljs-number">5</span>   <span class="hljs-number">6</span>   <span class="hljs-number">7</span>   <span class="hljs-number">8</span>   <span class="hljs-number">9</span>
c  <span class="hljs-number">10</span>  <span class="hljs-number">11</span>  <span class="hljs-number">12</span>  <span class="hljs-number">13</span>  <span class="hljs-number">14</span>
d  <span class="hljs-number">15</span>  <span class="hljs-number">16</span>  <span class="hljs-number">17</span>  <span class="hljs-number">18</span>  <span class="hljs-number">19</span>
e  <span class="hljs-number">20</span>  <span class="hljs-number">21</span>  <span class="hljs-number">22</span>  <span class="hljs-number">23</span>  <span class="hljs-number">24</span>
</code></pre>
<p>Then for example:</p>
<pre class="lang-py s-code-block"><code class="hljs language-python"><span class="hljs-meta">&gt;&gt;&gt; </span>df.loc[<span class="hljs-string">'c'</span>: , :<span class="hljs-string">'z'</span>]  <span class="hljs-comment"># rows 'c' and onwards AND columns up to 'z'</span>
    x   y   z
c  <span class="hljs-number">10</span>  <span class="hljs-number">11</span>  <span class="hljs-number">12</span>
d  <span class="hljs-number">15</span>  <span class="hljs-number">16</span>  <span class="hljs-number">17</span>
e  <span class="hljs-number">20</span>  <span class="hljs-number">21</span>  <span class="hljs-number">22</span>

<span class="hljs-meta">&gt;&gt;&gt; </span>df.iloc[:, <span class="hljs-number">3</span>]        <span class="hljs-comment"># all rows, but only the column at index location 3</span>
a     <span class="hljs-number">3</span>
b     <span class="hljs-number">8</span>
c    <span class="hljs-number">13</span>
d    <span class="hljs-number">18</span>
e    <span class="hljs-number">23</span>
</code></pre>
<p>Sometimes we want to mix label and positional indexing methods for the rows and columns, somehow combining the capabilities of <code>loc</code> and <code>iloc</code>.</p>
<p>For example, consider the following DataFrame. How best to slice the rows up to and including 'c' <em>and</em> take the first four columns?</p>
<pre class="lang-py s-code-block"><code class="hljs language-python"><span class="hljs-meta">&gt;&gt;&gt; </span><span class="hljs-keyword">import</span> numpy <span class="hljs-keyword">as</span> np 
<span class="hljs-meta">&gt;&gt;&gt; </span>df = pd.DataFrame(np.arange(<span class="hljs-number">25</span>).reshape(<span class="hljs-number">5</span>, <span class="hljs-number">5</span>),  
                      index=<span class="hljs-built_in">list</span>(<span class="hljs-string">'abcde'</span>), 
                      columns=[<span class="hljs-string">'x'</span>,<span class="hljs-string">'y'</span>,<span class="hljs-string">'z'</span>, <span class="hljs-number">8</span>, <span class="hljs-number">9</span>])
<span class="hljs-meta">&gt;&gt;&gt; </span>df
    x   y   z   <span class="hljs-number">8</span>   <span class="hljs-number">9</span>
a   <span class="hljs-number">0</span>   <span class="hljs-number">1</span>   <span class="hljs-number">2</span>   <span class="hljs-number">3</span>   <span class="hljs-number">4</span>
b   <span class="hljs-number">5</span>   <span class="hljs-number">6</span>   <span class="hljs-number">7</span>   <span class="hljs-number">8</span>   <span class="hljs-number">9</span>
c  <span class="hljs-number">10</span>  <span class="hljs-number">11</span>  <span class="hljs-number">12</span>  <span class="hljs-number">13</span>  <span class="hljs-number">14</span>
d  <span class="hljs-number">15</span>  <span class="hljs-number">16</span>  <span class="hljs-number">17</span>  <span class="hljs-number">18</span>  <span class="hljs-number">19</span>
e  <span class="hljs-number">20</span>  <span class="hljs-number">21</span>  <span class="hljs-number">22</span>  <span class="hljs-number">23</span>  <span class="hljs-number">24</span>
</code></pre>
<p>We can achieve this result using <code>iloc</code> and the help of another method:</p>
<pre class="lang-py s-code-block"><code class="hljs language-python"><span class="hljs-meta">&gt;&gt;&gt; </span>df.iloc[:df.index.get_loc(<span class="hljs-string">'c'</span>) + <span class="hljs-number">1</span>, :<span class="hljs-number">4</span>]
    x   y   z   <span class="hljs-number">8</span>
a   <span class="hljs-number">0</span>   <span class="hljs-number">1</span>   <span class="hljs-number">2</span>   <span class="hljs-number">3</span>
b   <span class="hljs-number">5</span>   <span class="hljs-number">6</span>   <span class="hljs-number">7</span>   <span class="hljs-number">8</span>
c  <span class="hljs-number">10</span>  <span class="hljs-number">11</span>  <span class="hljs-number">12</span>  <span class="hljs-number">13</span>
</code></pre>
<p><a href="http://pandas.pydata.org/pandas-docs/version/0.19.1/generated/pandas.Index.get_loc.html" rel="noreferrer"><code>get_loc()</code></a> is an index method meaning "get the position of the label in this index". Note that since slicing with <code>iloc</code> is exclusive of its endpoint, we must add 1 to this value if we want row 'c' as well.</p>
    </div>

# Numpy

# Array
# NaN and INF
# Statistical Operations
# Shape, Reshape, Ravel, Flatten
# Sequence, Repetition, and Random Numbers
# Where(), ArgMax(), ArgMin()
# File I/O
# Concatenate and Sorting
# Working with Dates
https://tigeranalytics.udemy.com/course/python-for-advanced-linear-regression-masterclass/learn/lecture/23694652#overview

#### np.where

- df['var'] = np.where(df['var'] > var_upper_limit, var_upper_limit, np.where(df['var'] < var_lower_limit, var_lower_limit, df['var']))
- np.round(df.describe(),2)

# Statistics using pandas

- df['var'].mean()
- df['var'].std()
- df['var'].quantile(0.75)
- df['var'].max(),.min()

median_points = reviews.points.median()
countries = reviews.country.unique()
reviews_per_country = reviews.country.value_counts()
centered_price = reviews.price - reviews.price.mean()


###
reviews.ratio = reviews.points/reviews.price
bargain_wine = reviews.loc[reviews.ratio.idxmax(),'title']
#--
bargain_idx = (reviews.points / reviews.price).idxmax()
bargain_wine = reviews.loc[bargain_idx, 'title']
###

reviews['tropical'] =reviews.description.map(lambda p: p.count('tropical'))
reviews['fruity'] = reviews.description.map(lambda p: p.count('fruity'))
descriptor_counts = reviews[['tropical','fruity']]

n_trop  = reviews.description.map(lambda desc: "tropical" in desc).sum()
n_fruity = reviews.description.map(lambda desc: "fruity" in desc).sum()
descriptor_counts = pd.Series([n_trop, n_fruity], index=['tropical', 'fruity'])


def rateStars(x):
    if x.country == 'Canada':
        return 3
    elif x.points>=95:
        return 3
    elif x.points<95 and x.points>=85:
        return 2
    else:
        return 1

star_ratings = reviews.apply(rateStars,axis='columns')


reviews.groupby('winery').apply(lambda df: df.title.iloc[0])
reviews.groupby(['country', 'province']).apply(lambda df: df.loc[df.points.idxmax()])
reviews.groupby(['country']).price.agg([len, min, max])
countries_reviewed = reviews.groupby(['country', 'province']).description.agg([len])
countries_reviewed = countries_reviewed.reset_index()
countries_reviewed.sort_values(by=['country', 'len'], ascending=False)
countries_reviewed.sort_index()


reviews_written = reviews.groupby('taster_twitter_handle').size()
reviews_written = reviews.groupby('taster_twitter_handle').taster_twitter_handle.count()
best_rating_per_price = reviews.groupby('price')['points'].max().sort_index()
sorted_varieties = reviews.groupby('variety').price.agg([len,min,max]).sort_values(by=['min','max'],ascending=False)
country_variety_counts = reviews.groupby(['country', 'variety']).size().sort_values(ascending=False) *********

# Nulls and NaNs

# What is the difference between sklearn's transform() and predict() methods?

https://stackoverflow.com/questions/62239470/what-is-the-difference-between-sklearns-transform-and-predict-methods

<div class="s-prose js-post-body" itemprop="text">
<p><code>predict</code> methods take the input features and return something that is <em>qualitatively</em> different, i.e. labels <code>y</code> (in supervised settings) or cluster memberships (in most clustering settings).</p>
<p><code>transform</code>, on the other hand, as its name already implies, returns something that is qualitatively <em>similar</em> to its input but expressed in a different <em>form</em>, i.e. scaled features, PCA features etc. And as a rule, they are usually accompanied with a respective <code>inverse_transform</code> method to return the input to its original form (while arguably we cannot imagine an <code>inverse_predict</code> method, to go from labels or cluster memberships to features).</p>
<p>This difference is readily apparent in cases such as the ones you mention, where both <code>predict</code> and <code>transform</code> methods are available; in kmeans, for example, <code>predict(X)</code> will return cluster memberships, but <code>transform(X)</code> will return a transformation (i.e. different version) <code>X_new</code> of the input features.</p>
    </div>

# MISC

In [3]:
date_lengths = earthquakes.Date.str.len()
date_lengths.value_counts()
indices = np.where([date_lengths == 24])[1]
print('Indices with corrupted data:', indices)
earthquakes.loc[indices]

NameError: name 'earthquakes' is not defined

In [ ]:
# convert to lower case
professors['Country'] = professors['Country'].str.lower()
# remove trailing white spaces
professors['Country'] = professors['Country'].str.strip()

In [ ]:
# helpful modules
import fuzzywuzzy
from fuzzywuzzy import process
import charset_normalizer

# get the top 10 closest matches to "south korea"
matches = fuzzywuzzy.process.extract("south korea", countries, limit=10, scorer=fuzzywuzzy.fuzz.token_sort_ratio)

# take a look at them
matches


# function to replace rows in the provided column of the provided dataframe
# that match the provided string above the provided ratio with the provided string
def replace_matches_in_column(df, column, string_to_match, min_ratio = 47):
    # get a list of unique strings
    strings = df[column].unique()
    
    # get the top 10 closest matches to our input string
    matches = fuzzywuzzy.process.extract(string_to_match, strings, 
                                         limit=10, scorer=fuzzywuzzy.fuzz.token_sort_ratio)

    # only get matches with a ratio > 90
    close_matches = [matches[0] for matches in matches if matches[1] >= min_ratio]

    # get the rows of all the close matches in our dataframe
    rows_with_matches = df[column].isin(close_matches)

    # replace all rows with close matches with the input matches 
    df.loc[rows_with_matches, column] = string_to_match
    
    # let us know the function's done
    print("All done!")

In [4]:
professors['Graduated from'].drop_duplicates().sort_values(ascending=False)

NameError: name 'professors' is not defined

In [5]:
# TODO: Your code here
Graduated_from=sorted(professors['Graduated from'].unique())
Graduated_from

NameError: name 'professors' is not defined