# Table of contents
* [Cheat Sheet](#CheatSheet)
* [File I/O](#FileI/O)
* [Len, Shape, Info, Describe, Columns](#Len,Shape,Info,Describe,Columns)
* [Data Types](#DataTypes)
    * [Extract specific dtypes](#Extractspecificdtypes)
* [Sort](#Sort)
* [Drop](#Drop)
* [Display Df](#DisplayDf)
* [Copy Pandas df](#CopyPandasdf)
* [NaN and Null Values](#NaNandNullValues)
* [Quantile](#Quantile)
* [loc vs iloc](#locvsiloc)
* [Group By](#GroupBy)
* [Transform](#Transform)
* [MAP function](#MAPfunction)
 <!-- *  csv or xlsx file
    *  Reading the data with any separator assigning column names -->
<!-- *  Using different attributes like (.column) and methods(.describe,.info)
*  
Slicing thea  tafra
*  e
Accessing the data with index value( a*  nd il
*  c)
Difference betweec
*   and 
*  loc
Set index in dataframe and get 
*   3:

Printmn
*   in Da
*  aframeop s
*  ecific
*  columns
unique, ique
*   value
*  counte Renam
*   omns,
*  C
*  ncat

*  erge, join
Groupby and the f ion that
*  can ap
*  lied to it.
Map, Ap -->lyMap








https://www.geeksforgeeks.org/how-to-add-a-table-of-contents-in-the-jupyter-notebook/

# Refrences

https://pandas.pydata.org/docs/user_guide/dsintro.html

https://medium.com/analytics-vidhya/pandas-complete-guide-a-z-36ba8bd15232

<a name="CheatSheet"></a><h1>Cheat Sheet</h1>

https://pandas.pydata.org/docs/user_guide/10min.html

https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf

https://www.webpages.uidaho.edu/~stevel/cheatsheets/Pandas%20DataFrame%20Notes_12pages.pdf

In [1]:
from IPython.display import HTML
HTML('<iframe src=https://pandas.pydata.org/docs/user_guide/10min.html width=700 height=350></iframe>')

C:\Users\rushi\.conda\envs\NativeLearning\lib\site-packages\IPython\core\display.py:431: UserWarning: Consider using IPython.display.IFrame instead
  warnings.warn("Consider using IPython.display.IFrame instead")

In [2]:
from IPython.display import HTML
HTML('<iframe src=https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf width=700 height=350></iframe>')

<a name="FileI/O"></a><h1>File I/O</h1>

In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

# https://www.kaggle.com/datasets/dansbecker/melbourne-housing-snapshot
df = pd.read_csv("./resources/melb_data.csv")
df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,3.0,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
5,Abbotsford,129 Charles St,2,h,941000.0,S,Jellis,7/05/2016,2.5,3067.0,2.0,1.0,0.0,181.0,NaN,NaN,Yarra,-37.80410,144.99530,Northern Metropolitan,4019.0
6,Abbotsford,124 Yarra St,3,h,1876000.0,S,Nelson,7/05/2016,2.5,3067.0,4.0,2.0,0.0,245.0,210.0,1910.0,Yarra,-37.80240,144.99930,Northern Metropolitan,4019.0
7,Abbotsford,98 Charles St,2,h,1636000.0,S,Nelson,8/10/2016,2.5,3067.0,2.0,1.0,2.0,256.0,107.0,1890.0,Yarra,-37.80600,144.99540,Northern Metropolitan,4019.0
8,Abbotsford,6/241 Nicholson St,1,u,300000.0,S,Biggin,8/10/2016,2.5,3067.0,1.0,1.0,1.0,0.0,NaN,NaN,Yarra,-37.80080,144.99730,Northern Metropolitan,4019.0
9,Abbotsford,10 Valiant St,2,h,1097000.0,S,Biggin,8/10/2016,2.5,3067.0,3.0,1.0,2.0,220.0,75.0,1900.0,Yarra,-37.80100,144.99890,Northern Metropolitan,4019.0
10,Abbotsford,411/8 Grosvenor St,2,u,700000.0,VB,Jellis,12/11/2016,2.5,3067.0,2.0,2.0,1.0,0.0,NaN,NaN,Yarra,-37.81100,145.00670,Northern Metropolitan,4019.0
11,Abbotsford,40 Nicholson St,3,h,1350000.0,VB,Nelson,12/11/2016,2.5,3067.0,3.0,2.0,2.0,214.0,190.0,2005.0,Yarra,-37.80850,144.99640,Northern Metropolitan,4019.0
12,Abbotsford,123/56 Nicholson St,2,u,750000.0,S,Biggin,12/11/2016,2.5,3067.0,2.0,2.0,1.0,0.0,94.0,2009.0,Yarra,-37.80780,144.99650,Northern Metropolitan,4019.0
13,Abbotsford,45 William St,2,h,1172500.0,S,Biggin,13/08/2016,2.5,3067.0,2.0,1.0,1.0,195.0,NaN,NaN,Yarra,-37.80840,144.99730,Northern Metropolitan,4019.0
14,Abbotsford,7/20 Abbotsford St,1,u,441000.0,SP,Greg,14/05/2016,2.5,3067.0,1.0,1.0,1.0,0.0,NaN,NaN,Yarra,-37.80160,144.99880,Northern Metropolitan,4019.0
15,Abbotsford,16 William St,2,h,1310000.0,S,Jellis,15/10/2016,2.5,3067.0,2.0,1.0,2.0,238.0,97.0,1890.0,Yarra,-37.80900,144.99760,Northern Metropolitan,4019.0
16,Abbotsford,42 Henry St,3,h,1200000.0,S,Jellis,16/07/2016,2.5,3067.0,3.0,2.0,1.0,113.0,110.0,1880.0,Yarra,-37.80560,144.99300,Northern Metropolitan,4019.0
17,Abbotsford,78 Yarra St,3,h,1176500.0,S,LITTLE,16/07/2016,2.5,3067.0,2.0,1.0,1.0,138.0,105.0,1890.0,Yarra,-37.80210,144.99650,Northern Metropolitan,4019.0
18,Abbotsford,196 Nicholson St,3,h,955000.0,S,Collins,17/09/2016,2.5,3067.0,3.0,1.0,0.0,183.0,NaN,NaN,Yarra,-37.80220,144.99750,Northern Metropolitan,4019.0
19,Abbotsford,42 Valiant St,2,h,890000.0,S,Biggin,17/09/2016,2.5,3067.0,2.0,1.0,1.0,150.0,73.0,1985.0,Yarra,-37.80110,145.00040,Northern Metropolitan,4019.0
20,Abbotsford,3/72 Charles St,4,h,1330000.0,PI,Kay,18/03/2017,2.5,3067.0,4.0,2.0,2.0,780.0,135.0,1900.0,Yarra,-37.80730,144.99520,Northern Metropolitan,4019.0
21,Abbotsford,13/11 Nicholson St,3,t,900000.0,S,Beller,18/03/2017,2.5,3067.0,3.0,2.0,2.0,0.0,NaN,2010.0,Yarra,-37.80930,144.99590,Northern Metropolitan,4019.0
22,Abbotsford,138/56 Nicholson St,3,u,1090000.0,S,Jellis,18/03/2017,2.5,3067.0,3.0,2.0,2.0,4290.0,27.0,NaN,Yarra,-37.80780,144.99650,Northern Metropolitan,4019.0
23,Abbotsford,6/219 Nicholson St,2,u,500000.0,S,Collins,18/06/2016,2.5,3067.0,2.0,1.0,1.0,0.0,60.0,1970.0,Yarra,-37.80150,144.99720,Northern Metropolitan,4019.0
24,Abbotsford,52a William St,2,h,1100000.0,PI,Biggin,18/06/2016,2.5,3067.0,2.0,2.0,1.0,124.0,135.0,2013.0,Yarra,-37.80790,144.99770,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13555,Surrey Hills,3 Oak St,4,h,3100000.0,VB,Marshall,26/08/2017,10.2,3127.0,4.0,2.0,3.0,832.0,NaN,NaN,NaN,-37.83564,145.10919,Southern Metropolitan,5457.0
13556,Tarneit,27 McMahon Cr,3,h,350000.0,VB,S&L,26/08/2017,18.4,3029.0,3.0,1.0,1.0,466.0,103.0,2003.0,NaN,-37.86744,144.65609,Western Metropolitan,10160.0
13557,Templestowe,10 Hathaway Cl,4,h,1753000.0,S,Barry,26/08/2017,15.5,3106.0,4.0,2.0,2.0,689.0,NaN,2012.0,NaN,-37.76673,145.16555,Eastern Metropolitan,6202.0
13558,Templestowe Lower,20 Airds Rd,4,h,1745000.0,S,RT,26/08/2017,12.4,3107.0,4.0,2.0,2.0,741.0,NaN,NaN,NaN,-37.75843,145.10888,Eastern Metropolitan,5420.0
13559,Templestowe Lower,16 Benambra Dr,3,h,1190000.0,S,hockingstuart,26/08/2017,12.4,3107.0,3.0,1.0,1.0,723.0,NaN,NaN,NaN,-37.76684,145.11309,Eastern Metropolitan,5420.0
13560,Templestowe Lower,50 Caroline Dr,5,h,1400000.0,S,Barry,26/08/2017,12.4,3107.0,5.0,3.0,2.0,717.0,310.0,1963.0,NaN,-37.76630,145.11320,Eastern Metropolitan,5420.0
13561,Templestowe Lower,7 Dove Ct,4,h,1288000.0,S,Barry,26/08/2017,12.4,3107.0,4.0,2.0,2.0,948.0,NaN,NaN,NaN,-37.76078,145.10696,Eastern Metropolitan,5420.0
13562,Thornbury,7 Ballantyne St,3,h,1450000.0,S,Woodards,26/08/2017,7.0,3071.0,3.0,1.0,1.0,312.0,NaN,NaN,NaN,-37.75870,144.99966,Northern Metropolitan,8870.0
13563,Thornbury,201 Gooch St,3,h,1271000.0,S,Nelson,26/08/2017,7.0,3071.0,3.0,1.0,2.0,470.0,151.0,1950.0,NaN,-37.75937,145.01534,Northern Metropolitan,8870.0
13564,Tullamarine,7 Londrew Ct,3,h,540000.0,S,Barry,26/08/2017,12.9,3043.0,3.0,1.0,1.0,607.0,102.0,1970.0,NaN,-37.69423,144.88002,Western Metropolitan,3296.0
13565,Vermont,73 Nurlendi Rd,4,h,1263500.0,S,Barry,26/08/2017,17.2,3133.0,4.0,2.0,2.0,791.0,NaN,NaN,NaN,-37.84467,145.19276,Eastern Metropolitan,4181.0
13566,Vermont South,9 Winswood Cl,4,h,1250000.0,PI,Philip,26/08/2017,17.2,3133.0,4.0,2.0,2.0,986.0,NaN,NaN,NaN,-37.84679,145.20051,Eastern Metropolitan,4280.0
13567,Viewbank,149 Graham Rd,5,h,1316000.0,SP,Nelson,26/08/2017,8.9,3084.0,5.0,3.0,3.0,696.0,NaN,NaN,NaN,-37.73501,145.08341,Eastern Metropolitan,2698.0
13568,Wantirna,16 chesterfield Ct,4,h,951000.0,S,Ray,26/08/2017,14.7,3152.0,4.0,2.0,2.0,704.0,200.0,1981.0,NaN,-37.85639,145.23536,Eastern Metropolitan,5424.0
13569,Wantirna South,12 Armagh Cr,4,h,1323000.0,S,Barry,26/08/2017,14.7,3152.0,4.0,2.0,2.0,551.0,NaN,NaN,NaN,-37.87608,145.22390,Eastern Metropolitan,7082.0
13570,Wantirna South,34 Fewster Dr,3,h,970000.0,S,Barry,26/08/2017,14.7,3152.0,3.0,2.0,2.0,674.0,NaN,NaN,NaN,-37.88360,145.22805,Eastern Metropolitan,7082.0
13571,Wantirna South,15 Mara Cl,4,h,1330000.0,S,Barry,26/08/2017,14.7,3152.0,4.0,2.0,2.0,717.0,191.0,1980.0,NaN,-37.86887,145.22116,Eastern Metropolitan,7082.0
13572,Watsonia,76 Kenmare St,2,h,650000.0,PI,Morrison,26/08/2017,14.5,3087.0,2.0,1.0,1.0,210.0,79.0,2006.0,NaN,-37.70657,145.07878,Northern Metropolitan,2329.0
13573,Werribee,5 Nuragi Ct,4,h,635000.0,S,hockingstuart,26/08/2017,14.7,3030.0,4.0,2.0,1.0,662.0,172.0,1980.0,NaN,-37.89327,144.64789,Western Metropolitan,16166.0
13574,Westmeadows,9 Black St,3,h,582000.0,S,Red,26/08/2017,16.5,3049.0,3.0,2.0,2.0,256.0,NaN,NaN,NaN,-37.67917,144.89390,Northern Metropolitan,2474.0
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,4.0,2.0,2.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,3.0,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,3.0,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,4.0,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,4.0,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0

In [ ]:
# output = pd.DataFrame({'Id': test_data.Id,
#                        'SalePrice': test_preds})
# output.to_csv('submission.csv', index=False)

<a name="Len,Shape,Info,Describe,Columns"></a><h1>Len, Shape, Info, Describe, Columns</h1>

In [4]:
len(df)

13580

In [5]:
df.shape

(13580, 21)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  float64
 10  Bedroom2       13580 non-null  float64
 11  Bathroom       13580 non-null  float64
 12  Car            13518 non-null  float64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   7130 non-null   float64
 15  YearBuilt      8205 non-null   float64
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 2.2+ MB

In [7]:
df.describe(include='all')

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
count,13580,13580,13580.000000,13580,1.358000e+04,13580,13580,13580,13580.000000,13580.000000,...,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,12211,13580.000000,13580.000000,13580,13580.000000
unique,314,13378,NaN,3,NaN,5,268,58,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,33,NaN,NaN,8,NaN
top,Reservoir,36 Aberfeldie St,NaN,h,NaN,S,Nelson,27/05/2017,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Moreland,NaN,NaN,Southern Metropolitan,NaN
freq,359,3,NaN,9449,NaN,9022,1565,473,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1163,NaN,NaN,4695,NaN
mean,NaN,NaN,2.937997,NaN,1.075684e+06,NaN,NaN,NaN,10.137776,3105.301915,...,1.534242,1.610075,558.416127,151.967650,1964.684217,NaN,-37.809203,144.995216,NaN,7454.417378
std,NaN,NaN,0.955748,NaN,6.393107e+05,NaN,NaN,NaN,5.868725,90.676964,...,0.691712,0.962634,3990.669241,541.014538,37.273762,NaN,0.079260,0.103916,NaN,4378.581772
min,NaN,NaN,1.000000,NaN,8.500000e+04,NaN,NaN,NaN,0.000000,3000.000000,...,0.000000,0.000000,0.000000,0.000000,1196.000000,NaN,-38.182550,144.431810,NaN,249.000000
25%,NaN,NaN,2.000000,NaN,6.500000e+05,NaN,NaN,NaN,6.100000,3044.000000,...,1.000000,1.000000,177.000000,93.000000,1940.000000,NaN,-37.856822,144.929600,NaN,4380.000000
50%,NaN,NaN,3.000000,NaN,9.030000e+05,NaN,NaN,NaN,9.200000,3084.000000,...,1.000000,2.000000,440.000000,126.000000,1970.000000,NaN,-37.802355,145.000100,NaN,6555.000000
75%,NaN,NaN,3.000000,NaN,1.330000e+06,NaN,NaN,NaN,13.000000,3148.000000,...,2.000000,2.000000,651.000000,174.000000,1999.000000,NaN,-37.756400,145.058305,NaN,10331.000000
max,NaN,NaN,10.000000,NaN,9.000000e+06,NaN,NaN,NaN,48.100000,3977.000000,...,8.000000,10.000000,433014.000000,44515.000000,2018.000000,NaN,-37.408530,145.526350,NaN,21650.000000

In [8]:
df.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [9]:
df.columns.values

array(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea',
       'Lattitude', 'Longtitude', 'Regionname', 'Propertycount'],
      dtype=object)

<a name="DataTypes"></a><h1>Data Types</h1>

<a name="Extractspecificdtypes"></a><h3>Extract specific dtypes</h3>

In [10]:
df.select_dtypes(include='object')

,Suburb,Address,Type,Method,SellerG,Date,CouncilArea,Regionname
0,Abbotsford,85 Turner St,h,S,Biggin,3/12/2016,Yarra,Northern Metropolitan
1,Abbotsford,25 Bloomburg St,h,S,Biggin,4/02/2016,Yarra,Northern Metropolitan
2,Abbotsford,5 Charles St,h,SP,Biggin,4/03/2017,Yarra,Northern Metropolitan
3,Abbotsford,40 Federation La,h,PI,Biggin,4/03/2017,Yarra,Northern Metropolitan
4,Abbotsford,55a Park St,h,VB,Nelson,4/06/2016,Yarra,Northern Metropolitan
...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,h,S,Barry,26/08/2017,NaN,South-Eastern Metropolitan
13576,Williamstown,77 Merrett Dr,h,SP,Williams,26/08/2017,NaN,Western Metropolitan
13577,Williamstown,83 Power St,h,S,Raine,26/08/2017,NaN,Western Metropolitan
13578,Williamstown,96 Verdon St,h,PI,Sweeney,26/08/2017,NaN,Western Metropolitan
13579,Yarraville,6 Agnes St,h,SP,Village,26/08/2017,NaN,Western Metropolitan

In [35]:
nonObjectsDf= df.select_dtypes(exclude='object')
nonObjectsDf

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
0,2,1480000.0,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,-37.79960,144.99840,4019.0
1,2,1035000.0,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,-37.80790,144.99340,4019.0
2,3,1465000.0,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,-37.80930,144.99440,4019.0
3,3,850000.0,2.5,3067.0,3.0,2.0,1.0,94.0,NaN,NaN,-37.79690,144.99690,4019.0
4,4,1600000.0,2.5,3067.0,3.0,1.0,2.0,120.0,142.0,2014.0,-37.80720,144.99410,4019.0
5,2,941000.0,2.5,3067.0,2.0,1.0,0.0,181.0,NaN,NaN,-37.80410,144.99530,4019.0
6,3,1876000.0,2.5,3067.0,4.0,2.0,0.0,245.0,210.0,1910.0,-37.80240,144.99930,4019.0
7,2,1636000.0,2.5,3067.0,2.0,1.0,2.0,256.0,107.0,1890.0,-37.80600,144.99540,4019.0
8,1,300000.0,2.5,3067.0,1.0,1.0,1.0,0.0,NaN,NaN,-37.80080,144.99730,4019.0
9,2,1097000.0,2.5,3067.0,3.0,1.0,2.0,220.0,75.0,1900.0,-37.80100,144.99890,4019.0
10,2,700000.0,2.5,3067.0,2.0,2.0,1.0,0.0,NaN,NaN,-37.81100,145.00670,4019.0
11,3,1350000.0,2.5,3067.0,3.0,2.0,2.0,214.0,190.0,2005.0,-37.80850,144.99640,4019.0
12,2,750000.0,2.5,3067.0,2.0,2.0,1.0,0.0,94.0,2009.0,-37.80780,144.99650,4019.0
13,2,1172500.0,2.5,3067.0,2.0,1.0,1.0,195.0,NaN,NaN,-37.80840,144.99730,4019.0
14,1,441000.0,2.5,3067.0,1.0,1.0,1.0,0.0,NaN,NaN,-37.80160,144.99880,4019.0
15,2,1310000.0,2.5,3067.0,2.0,1.0,2.0,238.0,97.0,1890.0,-37.80900,144.99760,4019.0
16,3,1200000.0,2.5,3067.0,3.0,2.0,1.0,113.0,110.0,1880.0,-37.80560,144.99300,4019.0
17,3,1176500.0,2.5,3067.0,2.0,1.0,1.0,138.0,105.0,1890.0,-37.80210,144.99650,4019.0
18,3,955000.0,2.5,3067.0,3.0,1.0,0.0,183.0,NaN,NaN,-37.80220,144.99750,4019.0
19,2,890000.0,2.5,3067.0,2.0,1.0,1.0,150.0,73.0,1985.0,-37.80110,145.00040,4019.0
20,4,1330000.0,2.5,3067.0,4.0,2.0,2.0,780.0,135.0,1900.0,-37.80730,144.99520,4019.0
21,3,900000.0,2.5,3067.0,3.0,2.0,2.0,0.0,NaN,2010.0,-37.80930,144.99590,4019.0
22,3,1090000.0,2.5,3067.0,3.0,2.0,2.0,4290.0,27.0,NaN,-37.80780,144.99650,4019.0
23,2,500000.0,2.5,3067.0,2.0,1.0,1.0,0.0,60.0,1970.0,-37.80150,144.99720,4019.0
24,2,1100000.0,2.5,3067.0,2.0,2.0,1.0,124.0,135.0,2013.0,-37.80790,144.99770,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13555,4,3100000.0,10.2,3127.0,4.0,2.0,3.0,832.0,NaN,NaN,-37.83564,145.10919,5457.0
13556,3,350000.0,18.4,3029.0,3.0,1.0,1.0,466.0,103.0,2003.0,-37.86744,144.65609,10160.0
13557,4,1753000.0,15.5,3106.0,4.0,2.0,2.0,689.0,NaN,2012.0,-37.76673,145.16555,6202.0
13558,4,1745000.0,12.4,3107.0,4.0,2.0,2.0,741.0,NaN,NaN,-37.75843,145.10888,5420.0
13559,3,1190000.0,12.4,3107.0,3.0,1.0,1.0,723.0,NaN,NaN,-37.76684,145.11309,5420.0
13560,5,1400000.0,12.4,3107.0,5.0,3.0,2.0,717.0,310.0,1963.0,-37.76630,145.11320,5420.0
13561,4,1288000.0,12.4,3107.0,4.0,2.0,2.0,948.0,NaN,NaN,-37.76078,145.10696,5420.0
13562,3,1450000.0,7.0,3071.0,3.0,1.0,1.0,312.0,NaN,NaN,-37.75870,144.99966,8870.0
13563,3,1271000.0,7.0,3071.0,3.0,1.0,2.0,470.0,151.0,1950.0,-37.75937,145.01534,8870.0
13564,3,540000.0,12.9,3043.0,3.0,1.0,1.0,607.0,102.0,1970.0,-37.69423,144.88002,3296.0
13565,4,1263500.0,17.2,3133.0,4.0,2.0,2.0,791.0,NaN,NaN,-37.84467,145.19276,4181.0
13566,4,1250000.0,17.2,3133.0,4.0,2.0,2.0,986.0,NaN,NaN,-37.84679,145.20051,4280.0
13567,5,1316000.0,8.9,3084.0,5.0,3.0,3.0,696.0,NaN,NaN,-37.73501,145.08341,2698.0
13568,4,951000.0,14.7,3152.0,4.0,2.0,2.0,704.0,200.0,1981.0,-37.85639,145.23536,5424.0
13569,4,1323000.0,14.7,3152.0,4.0,2.0,2.0,551.0,NaN,NaN,-37.87608,145.22390,7082.0
13570,3,970000.0,14.7,3152.0,3.0,2.0,2.0,674.0,NaN,NaN,-37.88360,145.22805,7082.0
13571,4,1330000.0,14.7,3152.0,4.0,2.0,2.0,717.0,191.0,1980.0,-37.86887,145.22116,7082.0
13572,2,650000.0,14.5,3087.0,2.0,1.0,1.0,210.0,79.0,2006.0,-37.70657,145.07878,2329.0
13573,4,635000.0,14.7,3030.0,4.0,2.0,1.0,662.0,172.0,1980.0,-37.89327,144.64789,16166.0
13574,3,582000.0,16.5,3049.0,3.0,2.0,2.0,256.0,NaN,NaN,-37.67917,144.89390,2474.0
13575,4,1245000.0,16.7,3150.0,4.0,2.0,2.0,652.0,NaN,1981.0,-37.90562,145.16761,7392.0
13576,3,1031000.0,6.8,3016.0,3.0,2.0,2.0,333.0,133.0,1995.0,-37.85927,144.87904,6380.0
13577,3,1170000.0,6.8,3016.0,3.0,2.0,4.0,436.0,NaN,1997.0,-37.85274,144.88738,6380.0
13578,4,2500000.0,6.8,3016.0,4.0,1.0,5.0,866.0,157.0,1920.0,-37.85908,144.89299,6380.0
13579,4,1285000.0,6.3,3013.0,4.0,1.0,1.0,362.0,112.0,1920.0,-37.81188,144.88449,6543.0

In [36]:
nonObjectsDf.corr()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
Rooms,1.000000,0.496634,0.294203,0.055303,0.944190,0.592934,0.408483,0.025678,0.124127,-0.065413,0.015948,0.100771,-0.081530
Price,0.496634,1.000000,-0.162522,0.107867,0.475951,0.467038,0.238979,0.037507,0.090981,-0.323617,-0.212934,0.203656,-0.042153
Distance,0.294203,-0.162522,1.000000,0.431514,0.295927,0.127155,0.262994,0.025004,0.099481,0.246379,-0.130723,0.239425,-0.054910
Postcode,0.055303,0.107867,0.431514,1.000000,0.060584,0.113664,0.050289,0.024558,0.055475,0.032863,-0.406104,0.445357,0.062304
Bedroom2,0.944190,0.475951,0.295927,0.060584,1.000000,0.584685,0.405325,0.025646,0.122319,-0.053319,0.015925,0.102238,-0.081350
Bathroom,0.592934,0.467038,0.127155,0.113664,0.584685,1.000000,0.322246,0.037130,0.111933,0.152702,-0.070594,0.118971,-0.052201
Car,0.408483,0.238979,0.262994,0.050289,0.405325,0.322246,1.000000,0.026770,0.096101,0.104515,-0.001963,0.063395,-0.024295
Landsize,0.025678,0.037507,0.025004,0.024558,0.025646,0.037130,0.026770,1.000000,0.500485,0.036451,0.009695,0.010833,-0.006854
BuildingArea,0.124127,0.090981,0.099481,0.055475,0.122319,0.111933,0.096101,0.500485,1.000000,0.019665,0.043420,-0.023810,-0.028840
YearBuilt,-0.065413,-0.323617,0.246379,0.032863,-0.053319,0.152702,0.104515,0.036451,0.019665,1.000000,0.060445,-0.003470,0.006361
Lattitude,0.015948,-0.212934,-0.130723,-0.406104,0.015925,-0.070594,-0.001963,0.009695,0.043420,0.060445,1.000000,-0.357634,0.047086
Longtitude,0.100771,0.203656,0.239425,0.445357,0.102238,0.118971,0.063395,0.010833,-0.023810,-0.003470,-0.357634,1.000000,0.065988
Propertycount,-0.081530,-0.042153,-0.054910,0.062304,-0.081350,-0.052201,-0.024295,-0.006854,-0.028840,0.006361,0.047086,0.065988,1.000000

In [37]:
nonObjectsDf.corr()['Price']

Rooms            0.496634
Price            1.000000
Distance        -0.162522
Postcode         0.107867
Bedroom2         0.475951
Bathroom         0.467038
Car              0.238979
Landsize         0.037507
BuildingArea     0.090981
YearBuilt       -0.323617
Lattitude       -0.212934
Longtitude       0.203656
Propertycount   -0.042153
Name: Price, dtype: float64

<a name="Sort"></a><h1>Sort</h1>

In [12]:
df.sort_values(by=['Rooms','Price'],ascending=[False,True])

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
11304,Bundoora,5 Ball Ct,10,h,900000.0,PI,Ray,15/07/2017,12.1,3083.0,...,3.0,2.0,313.0,NaN,2006.0,Darebin,-37.71098,145.05381,Northern Metropolitan,10175.0
13226,Meadow Heights,13 Haddon Ct,8,h,741000.0,S,Barry,23/09/2017,17.4,3048.0,...,3.0,1.0,1063.0,101.0,1980.0,NaN,-37.65826,144.92538,Northern Metropolitan,4704.0
3255,Heidelberg Heights,478 Waterdale Rd,8,h,770000.0,VB,Miles,19/11/2016,10.5,3081.0,...,4.0,4.0,638.0,115.0,1960.0,Banyule,-37.74260,145.04800,Eastern Metropolitan,2947.0
4285,Newport,487 Melbourne Rd,8,h,881000.0,S,Jas,30/07/2016,8.4,3015.0,...,2.0,4.0,663.0,190.0,1920.0,Hobsons Bay,-37.83850,144.88240,Western Metropolitan,5498.0
6201,Templestowe Lower,40 Ironbark Dr,8,h,1150000.0,PI,Barry,4/06/2016,13.8,3107.0,...,4.0,3.0,668.0,NaN,NaN,Manningham,-37.77330,145.11980,Eastern Metropolitan,5420.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8136,Newport,33 Bunbury St,1,h,1700000.0,S,Jas,20/05/2017,8.4,3015.0,...,1.0,0.0,622.0,NaN,NaN,Hobsons Bay,-37.84970,144.89030,Western Metropolitan,5498.0
6737,Aberfeldie,5 Aroona Ct,1,h,1720000.0,PI,Nelson,15/10/2016,9.1,3040.0,...,2.0,1.0,676.0,136.0,1965.0,Moonee Valley,-37.76320,144.89800,Western Metropolitan,1543.0
9414,Balwyn,17 Birdwood St,1,h,2100000.0,PI,hockingstuart,17/06/2017,7.9,3103.0,...,1.0,1.0,678.0,303.0,2016.0,Boroondara,-37.80292,145.06424,Southern Metropolitan,5682.0
5663,South Yarra,76 Osborne St,1,h,2115000.0,S,Marshall,17/09/2016,3.3,3141.0,...,1.0,1.0,569.0,NaN,NaN,Stonnington,-37.84280,144.99100,Southern Metropolitan,14887.0
3090,Hampton,136 Thomas St,1,h,2450000.0,S,Buxton,27/11/2016,13.7,3188.0,...,2.0,0.0,994.0,NaN,NaN,Bayside,-37.94000,145.01510,Southern Metropolitan,5454.0

<a name="Drop"></a><h1>Drop</h1>

In [13]:
df.drop(['Suburb','Address'],axis=1) #axis=1 means column

,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,3.0,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,4.0,2.0,2.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,3.0,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
13577,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,3.0,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0
13578,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,4.0,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
13579,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,4.0,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0

<a name="DisplayDf"></a><h1>Display Df</h1>

In [29]:
import pandas as pd  
pd.set_option('display.max_columns', 200)
pd.set_option('display.max_rows', 50)
pd.set_option('display.min_rows', 50)
pd.set_option('display.expand_frame_repr', True)
df

   col1  col2 col3  cat_to_num
0     0   NaN  Yes           1
1     1   NaN   No           0
2     2   2.0   No           0
3     3   3.0  Yes           1

<a name="CopyPandasdf"></a><h1>Copy Pandas df</h1>

In [15]:
df2 = df.copy() # This is important as sometimes variables points to same df

In [16]:
# Rearrange df
# df_rearranged = df[arranged_col_list]

<a name="NaNandNullValues"></a><h1>NaN and Null Values</h1>

In [17]:
# df.isnull().sum() gives list of columns with the null count

<a name="Quantile"></a><h1>Quantile</h1>

In [18]:
# For outlier elimination we can eliminate 1% of data
# Upper_Limit=df['col_name'].quantile(0.99)
# Filtered_df = df[df['col_name']<Upper_Limit]
# Filtered_df=Filtered_df.reset_index(drop=True)

<a name="locvsiloc"></a><h1>loc vs iloc</h1>

https://stackoverflow.com/questions/31593201/how-are-iloc-and-loc-different

<div class="s-prose js-post-body" itemprop="text">
<h4>loc <em>vs.</em> iloc = Label <em>vs.</em> Location</h4>
<p>The main distinction between the two methods is:</p>
<ul>
<li><p><code>loc</code> gets rows (and/or columns) with particular <strong>labels</strong>.</p>
</li>
<li><p><code>iloc</code> gets rows (and/or columns) at integer <strong>locations</strong>.</p>
</li>
</ul>
<p>To demonstrate, consider a series <code>s</code> of characters with a non-monotonic integer index:</p>
<pre class="lang-py s-code-block"><code class="hljs language-python"><span class="hljs-meta">&gt;&gt;&gt; </span>s = pd.Series(<span class="hljs-built_in">list</span>(<span class="hljs-string">"abcdef"</span>), index=[<span class="hljs-number">49</span>, <span class="hljs-number">48</span>, <span class="hljs-number">47</span>, <span class="hljs-number">0</span>, <span class="hljs-number">1</span>, <span class="hljs-number">2</span>]) 
<span class="hljs-number">49</span>    a
<span class="hljs-number">48</span>    b
<span class="hljs-number">47</span>    c
<span class="hljs-number">0</span>     d
<span class="hljs-number">1</span>     e
<span class="hljs-number">2</span>     f

<span class="hljs-meta">&gt;&gt;&gt; </span>s.loc[<span class="hljs-number">0</span>]    <span class="hljs-comment"># value at index label 0</span>
<span class="hljs-string">'d'</span>

<span class="hljs-meta">&gt;&gt;&gt; </span>s.iloc[<span class="hljs-number">0</span>]   <span class="hljs-comment"># value at index location 0</span>
<span class="hljs-string">'a'</span>

<span class="hljs-meta">&gt;&gt;&gt; </span>s.loc[<span class="hljs-number">0</span>:<span class="hljs-number">1</span>]  <span class="hljs-comment"># rows at index labels between 0 and 1 (inclusive)</span>
<span class="hljs-number">0</span>    d
<span class="hljs-number">1</span>    e

<span class="hljs-meta">&gt;&gt;&gt; </span>s.iloc[<span class="hljs-number">0</span>:<span class="hljs-number">1</span>] <span class="hljs-comment"># rows at index location between 0 and 1 (exclusive)</span>
<span class="hljs-number">49</span>    a
</code></pre>
<p>Here are some of the differences/similarities between <code>s.loc</code> and <code>s.iloc</code> when passed various objects:</p>
<div class="s-table-container">
<table class="s-table">
<thead>
<tr>
<th>&lt;object&gt;</th>
<th>description</th>
<th><code>s.loc[&lt;object&gt;]</code></th>
<th><code>s.iloc[&lt;object&gt;]</code></th>
</tr>
</thead>
<tbody>
<tr>
<td><code>0</code></td>
<td>single item</td>
<td>Value at index <em>label</em> <code>0</code> (the string <code>'d'</code>)</td>
<td>Value at index <em>location</em> 0 (the string <code>'a'</code>)</td>
</tr>
<tr>
<td><code>0:1</code></td>
<td>slice</td>
<td><strong>Two</strong> rows (labels <code>0</code> and <code>1</code>)</td>
<td><strong>One</strong> row (first row at location 0)</td>
</tr>
<tr>
<td><code>1:47</code></td>
<td>slice with out-of-bounds end</td>
<td><strong>Zero</strong> rows (empty Series)</td>
<td><strong>Five</strong> rows (location 1 onwards)</td>
</tr>
<tr>
<td><code>1:47:-1</code></td>
<td>slice with negative step</td>
<td><strong>three</strong> rows (labels <code>1</code> back to <code>47</code>)</td>
<td><strong>Zero</strong> rows (empty Series)</td>
</tr>
<tr>
<td><code>[2, 0]</code></td>
<td>integer list</td>
<td><strong>Two</strong> rows with given labels</td>
<td><strong>Two</strong> rows with given locations</td>
</tr>
<tr>
<td><code>s &gt; 'e'</code></td>
<td>Bool series (indicating which values have the property)</td>
<td><strong>One</strong> row (containing <code>'f'</code>)</td>
<td><code>NotImplementedError</code></td>
</tr>
<tr>
<td><code>(s&gt;'e').values</code></td>
<td>Bool array</td>
<td><strong>One</strong> row (containing <code>'f'</code>)</td>
<td>Same as <code>loc</code></td>
</tr>
<tr>
<td><code>999</code></td>
<td>int object not in index</td>
<td><code>KeyError</code></td>
<td><code>IndexError</code> (out of bounds)</td>
</tr>
<tr>
<td><code>-1</code></td>
<td>int object not in index</td>
<td><code>KeyError</code></td>
<td>Returns last value in <code>s</code></td>
</tr>
<tr>
<td><code>lambda x: x.index[3]</code></td>
<td>callable applied to series (here returning 3<sup>rd</sup> item in index)</td>
<td><code>s.loc[s.index[3]]</code></td>
<td><code>s.iloc[s.index[3]]</code></td>
</tr>
</tbody>
</table>
</div>
<p><code>loc</code>'s label-querying capabilities extend well-beyond integer indexes and it's worth highlighting a couple of additional examples.</p>
<p>Here's a Series where the index contains string objects:</p>
<pre class="lang-py s-code-block"><code class="hljs language-python"><span class="hljs-meta">&gt;&gt;&gt; </span>s2 = pd.Series(s.index, index=s.values)
<span class="hljs-meta">&gt;&gt;&gt; </span>s2
a    <span class="hljs-number">49</span>
b    <span class="hljs-number">48</span>
c    <span class="hljs-number">47</span>
d     <span class="hljs-number">0</span>
e     <span class="hljs-number">1</span>
f     <span class="hljs-number">2</span>
</code></pre>
<p>Since <code>loc</code> is label-based, it can fetch the first value in the Series using <code>s2.loc['a']</code>. It can also slice with non-integer objects:</p>
<pre class="lang-py s-code-block"><code class="hljs language-python"><span class="hljs-meta">&gt;&gt;&gt; </span>s2.loc[<span class="hljs-string">'c'</span>:<span class="hljs-string">'e'</span>]  <span class="hljs-comment"># all rows lying between 'c' and 'e' (inclusive)</span>
c    <span class="hljs-number">47</span>
d     <span class="hljs-number">0</span>
e     <span class="hljs-number">1</span>
</code></pre>
<p>For DateTime indexes, we don't need to pass the exact date/time to fetch by label. For example:</p>
<pre class="lang-py s-code-block"><code class="hljs language-python"><span class="hljs-meta">&gt;&gt;&gt; </span>s3 = pd.Series(<span class="hljs-built_in">list</span>(<span class="hljs-string">'abcde'</span>), pd.date_range(<span class="hljs-string">'now'</span>, periods=<span class="hljs-number">5</span>, freq=<span class="hljs-string">'M'</span>)) 
<span class="hljs-meta">&gt;&gt;&gt; </span>s3
<span class="hljs-number">2021</span>-01-<span class="hljs-number">31</span> <span class="hljs-number">16</span>:<span class="hljs-number">41</span>:<span class="hljs-number">31.879768</span>    a
<span class="hljs-number">2021</span>-02-<span class="hljs-number">28</span> <span class="hljs-number">16</span>:<span class="hljs-number">41</span>:<span class="hljs-number">31.879768</span>    b
<span class="hljs-number">2021</span>-03-<span class="hljs-number">31</span> <span class="hljs-number">16</span>:<span class="hljs-number">41</span>:<span class="hljs-number">31.879768</span>    c
<span class="hljs-number">2021</span>-04-<span class="hljs-number">30</span> <span class="hljs-number">16</span>:<span class="hljs-number">41</span>:<span class="hljs-number">31.879768</span>    d
<span class="hljs-number">2021</span>-05-<span class="hljs-number">31</span> <span class="hljs-number">16</span>:<span class="hljs-number">41</span>:<span class="hljs-number">31.879768</span>    e
</code></pre>
<p>Then to fetch the row(s) for March/April 2021 we only need:</p>
<pre class="lang-py s-code-block"><code class="hljs language-python"><span class="hljs-meta">&gt;&gt;&gt; </span>s3.loc[<span class="hljs-string">'2021-03'</span>:<span class="hljs-string">'2021-04'</span>]
<span class="hljs-number">2021</span>-03-<span class="hljs-number">31</span> <span class="hljs-number">17</span>:04:<span class="hljs-number">30.742316</span>    c
<span class="hljs-number">2021</span>-04-<span class="hljs-number">30</span> <span class="hljs-number">17</span>:04:<span class="hljs-number">30.742316</span>    d
</code></pre>
<h2>Rows and Columns</h2>
<p><code>loc</code> and <code>iloc</code> work the same way with DataFrames as they do with Series. It's useful to note that both methods can address columns and rows together.</p>
<p>When given a tuple, the first element is used to index the rows and, if it exists, the second element is used to index the columns.</p>
<p>Consider the DataFrame defined below:</p>
<pre class="lang-py s-code-block"><code class="hljs language-python"><span class="hljs-meta">&gt;&gt;&gt; </span><span class="hljs-keyword">import</span> numpy <span class="hljs-keyword">as</span> np 
<span class="hljs-meta">&gt;&gt;&gt; </span>df = pd.DataFrame(np.arange(<span class="hljs-number">25</span>).reshape(<span class="hljs-number">5</span>, <span class="hljs-number">5</span>),  
                      index=<span class="hljs-built_in">list</span>(<span class="hljs-string">'abcde'</span>), 
                      columns=[<span class="hljs-string">'x'</span>,<span class="hljs-string">'y'</span>,<span class="hljs-string">'z'</span>, <span class="hljs-number">8</span>, <span class="hljs-number">9</span>])
<span class="hljs-meta">&gt;&gt;&gt; </span>df
    x   y   z   <span class="hljs-number">8</span>   <span class="hljs-number">9</span>
a   <span class="hljs-number">0</span>   <span class="hljs-number">1</span>   <span class="hljs-number">2</span>   <span class="hljs-number">3</span>   <span class="hljs-number">4</span>
b   <span class="hljs-number">5</span>   <span class="hljs-number">6</span>   <span class="hljs-number">7</span>   <span class="hljs-number">8</span>   <span class="hljs-number">9</span>
c  <span class="hljs-number">10</span>  <span class="hljs-number">11</span>  <span class="hljs-number">12</span>  <span class="hljs-number">13</span>  <span class="hljs-number">14</span>
d  <span class="hljs-number">15</span>  <span class="hljs-number">16</span>  <span class="hljs-number">17</span>  <span class="hljs-number">18</span>  <span class="hljs-number">19</span>
e  <span class="hljs-number">20</span>  <span class="hljs-number">21</span>  <span class="hljs-number">22</span>  <span class="hljs-number">23</span>  <span class="hljs-number">24</span>
</code></pre>
<p>Then for example:</p>
<pre class="lang-py s-code-block"><code class="hljs language-python"><span class="hljs-meta">&gt;&gt;&gt; </span>df.loc[<span class="hljs-string">'c'</span>: , :<span class="hljs-string">'z'</span>]  <span class="hljs-comment"># rows 'c' and onwards AND columns up to 'z'</span>
    x   y   z
c  <span class="hljs-number">10</span>  <span class="hljs-number">11</span>  <span class="hljs-number">12</span>
d  <span class="hljs-number">15</span>  <span class="hljs-number">16</span>  <span class="hljs-number">17</span>
e  <span class="hljs-number">20</span>  <span class="hljs-number">21</span>  <span class="hljs-number">22</span>

<span class="hljs-meta">&gt;&gt;&gt; </span>df.iloc[:, <span class="hljs-number">3</span>]        <span class="hljs-comment"># all rows, but only the column at index location 3</span>
a     <span class="hljs-number">3</span>
b     <span class="hljs-number">8</span>
c    <span class="hljs-number">13</span>
d    <span class="hljs-number">18</span>
e    <span class="hljs-number">23</span>
</code></pre>
<p>Sometimes we want to mix label and positional indexing methods for the rows and columns, somehow combining the capabilities of <code>loc</code> and <code>iloc</code>.</p>
<p>For example, consider the following DataFrame. How best to slice the rows up to and including 'c' <em>and</em> take the first four columns?</p>
<pre class="lang-py s-code-block"><code class="hljs language-python"><span class="hljs-meta">&gt;&gt;&gt; </span><span class="hljs-keyword">import</span> numpy <span class="hljs-keyword">as</span> np 
<span class="hljs-meta">&gt;&gt;&gt; </span>df = pd.DataFrame(np.arange(<span class="hljs-number">25</span>).reshape(<span class="hljs-number">5</span>, <span class="hljs-number">5</span>),  
                      index=<span class="hljs-built_in">list</span>(<span class="hljs-string">'abcde'</span>), 
                      columns=[<span class="hljs-string">'x'</span>,<span class="hljs-string">'y'</span>,<span class="hljs-string">'z'</span>, <span class="hljs-number">8</span>, <span class="hljs-number">9</span>])
<span class="hljs-meta">&gt;&gt;&gt; </span>df
    x   y   z   <span class="hljs-number">8</span>   <span class="hljs-number">9</span>
a   <span class="hljs-number">0</span>   <span class="hljs-number">1</span>   <span class="hljs-number">2</span>   <span class="hljs-number">3</span>   <span class="hljs-number">4</span>
b   <span class="hljs-number">5</span>   <span class="hljs-number">6</span>   <span class="hljs-number">7</span>   <span class="hljs-number">8</span>   <span class="hljs-number">9</span>
c  <span class="hljs-number">10</span>  <span class="hljs-number">11</span>  <span class="hljs-number">12</span>  <span class="hljs-number">13</span>  <span class="hljs-number">14</span>
d  <span class="hljs-number">15</span>  <span class="hljs-number">16</span>  <span class="hljs-number">17</span>  <span class="hljs-number">18</span>  <span class="hljs-number">19</span>
e  <span class="hljs-number">20</span>  <span class="hljs-number">21</span>  <span class="hljs-number">22</span>  <span class="hljs-number">23</span>  <span class="hljs-number">24</span>
</code></pre>
<p>We can achieve this result using <code>iloc</code> and the help of another method:</p>
<pre class="lang-py s-code-block"><code class="hljs language-python"><span class="hljs-meta">&gt;&gt;&gt; </span>df.iloc[:df.index.get_loc(<span class="hljs-string">'c'</span>) + <span class="hljs-number">1</span>, :<span class="hljs-number">4</span>]
    x   y   z   <span class="hljs-number">8</span>
a   <span class="hljs-number">0</span>   <span class="hljs-number">1</span>   <span class="hljs-number">2</span>   <span class="hljs-number">3</span>
b   <span class="hljs-number">5</span>   <span class="hljs-number">6</span>   <span class="hljs-number">7</span>   <span class="hljs-number">8</span>
c  <span class="hljs-number">10</span>  <span class="hljs-number">11</span>  <span class="hljs-number">12</span>  <span class="hljs-number">13</span>
</code></pre>
<p><a href="http://pandas.pydata.org/pandas-docs/version/0.19.1/generated/pandas.Index.get_loc.html" rel="noreferrer"><code>get_loc()</code></a> is an index method meaning "get the position of the label in this index". Note that since slicing with <code>iloc</code> is exclusive of its endpoint, we must add 1 to this value if we want row 'c' as well.</p>
    </div>

<a name="GroupBy"></a><h1>Group By</h1>

In [20]:
df.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [21]:
df.groupby(['Regionname'])['Landsize'].mean()

Regionname
Eastern Metropolitan           634.133923
Eastern Victoria              2949.698113
Northern Metropolitan          568.948072
Northern Victoria             3355.463415
South-Eastern Metropolitan     613.991111
Southern Metropolitan          509.252183
Western Metropolitan           493.606852
Western Victoria               655.500000
Name: Landsize, dtype: float64

<a name="Transform"></a><h1>Transform</h1>

In [22]:
df.groupby(['Regionname'])['Landsize'].transform(lambda value:value.fillna(value.mean()))

0         202.0
1         156.0
2         134.0
3          94.0
4         120.0
5         181.0
6         245.0
7         256.0
8           0.0
9         220.0
10          0.0
11        214.0
12          0.0
13        195.0
14          0.0
15        238.0
16        113.0
17        138.0
18        183.0
19        150.0
20        780.0
21          0.0
22       4290.0
23          0.0
24        124.0
25        147.0
26          0.0
27        166.0
28          0.0
29         98.0
30          0.0
31        147.0
32        168.0
33          0.0
34        162.0
35        120.0
36        182.0
37        172.0
38        303.0
39          0.0
40          0.0
41        272.0
42        239.0
43        290.0
44        168.0
45        620.0
46        597.0
47        976.0
48        110.0
49        141.0
          ...
13530     343.0
13531     418.0
13532     605.0
13533     736.0
13534     609.0
13535     621.0
13536     574.0
13537     417.0
13538     503.0
13539     724.0
13540     576.0
13541     934.0
13542     478.0
13543     447.0
13544     824.0
13545     588.0
13546     646.0
13547    1011.0
13548     755.0
13549     554.0
13550     589.0
13551     534.0
13552     616.0
13553    1005.0
13554     438.0
13555     832.0
13556     466.0
13557     689.0
13558     741.0
13559     723.0
13560     717.0
13561     948.0
13562     312.0
13563     470.0
13564     607.0
13565     791.0
13566     986.0
13567     696.0
13568     704.0
13569     551.0
13570     674.0
13571     717.0
13572     210.0
13573     662.0
13574     256.0
13575     652.0
13576     333.0
13577     436.0
13578     866.0
13579     362.0
Name: Landsize, Length: 13580, dtype: float64

 
# Duplicated Imputation
# Lambda Functions

https://tigeranalytics.udemy.com/course/python-for-advanced-linear-regression-masterclass/learn/lecture/23694652#overview

In [19]:
# lamda functions in map

<a name="MAPfunction"></a><h1>MAP function</h1>

In [23]:
import pandas as pd
d = {'col1': [0, 1, 2, 3],
     'col2': pd.Series([2, 3], index=[2, 3]),
     'col3':['Yes','No','No','Yes']}
df = pd.DataFrame(data=d, index=[0, 1, 2, 3])
df

   col1  col2 col3
0     0   NaN  Yes
1     1   NaN   No
2     2   2.0   No
3     3   3.0  Yes

In [24]:
df['cat_to_num'] = df['col3'].map({'Yes':1,'No':0})
df

   col1  col2 col3  cat_to_num
0     0   NaN  Yes           1
1     1   NaN   No           0
2     2   2.0   No           0
3     3   3.0  Yes           1

In [25]:
df.describe(include='all')

            col1      col2 col3  cat_to_num
count   4.000000  2.000000    4     4.00000
unique       NaN       NaN    2         NaN
top          NaN       NaN  Yes         NaN
freq         NaN       NaN    2         NaN
mean    1.500000  2.500000  NaN     0.50000
std     1.290994  0.707107  NaN     0.57735
min     0.000000  2.000000  NaN     0.00000
25%     0.750000  2.250000  NaN     0.00000
50%     1.500000  2.500000  NaN     0.50000
75%     2.250000  2.750000  NaN     1.00000
max     3.000000  3.000000  NaN     1.00000

# Numpy

# Array
# NaN and INF
# Statistical Operations
# Shape, Reshape, Ravel, Flatten
# Sequence, Repetition, and Random Numbers
# Where(), ArgMax(), ArgMin()
# File I/O
# Concatenate and Sorting
# Working with Dates
https://tigeranalytics.udemy.com/course/python-for-advanced-linear-regression-masterclass/learn/lecture/23694652#overview

In [26]:
#df['log_col_name'] = np.log(df['col_name'])

#### np.where

- df['var'] = np.where(df['var'] > var_upper_limit, var_upper_limit, np.where(df['var'] < var_lower_limit, var_lower_limit, df['var']))
- np.round(df.describe(),2)

# Statistics using pandas

- df['var'].mean()
- df['var'].std()
- df['var'].quantile(0.75)
- df['var'].max(),.min()

median_points = reviews.points.median()
countries = reviews.country.unique()
reviews_per_country = reviews.country.value_counts()
centered_price = reviews.price - reviews.price.mean()


###
reviews.ratio = reviews.points/reviews.price
bargain_wine = reviews.loc[reviews.ratio.idxmax(),'title']
#--
bargain_idx = (reviews.points / reviews.price).idxmax()
bargain_wine = reviews.loc[bargain_idx, 'title']
###

reviews['tropical'] =reviews.description.map(lambda p: p.count('tropical'))
reviews['fruity'] = reviews.description.map(lambda p: p.count('fruity'))
descriptor_counts = reviews[['tropical','fruity']]

n_trop  = reviews.description.map(lambda desc: "tropical" in desc).sum()
n_fruity = reviews.description.map(lambda desc: "fruity" in desc).sum()
descriptor_counts = pd.Series([n_trop, n_fruity], index=['tropical', 'fruity'])


def rateStars(x):
    if x.country == 'Canada':
        return 3
    elif x.points>=95:
        return 3
    elif x.points<95 and x.points>=85:
        return 2
    else:
        return 1

star_ratings = reviews.apply(rateStars,axis='columns')


reviews.groupby('winery').apply(lambda df: df.title.iloc[0])
reviews.groupby(['country', 'province']).apply(lambda df: df.loc[df.points.idxmax()])
reviews.groupby(['country']).price.agg([len, min, max])
countries_reviewed = reviews.groupby(['country', 'province']).description.agg([len])
countries_reviewed = countries_reviewed.reset_index()
countries_reviewed.sort_values(by=['country', 'len'], ascending=False)
countries_reviewed.sort_index()


reviews_written = reviews.groupby('taster_twitter_handle').size()
reviews_written = reviews.groupby('taster_twitter_handle').taster_twitter_handle.count()
best_rating_per_price = reviews.groupby('price')['points'].max().sort_index()
sorted_varieties = reviews.groupby('variety').price.agg([len,min,max]).sort_values(by=['min','max'],ascending=False)
country_variety_counts = reviews.groupby(['country', 'variety']).size().sort_values(ascending=False) *********

# Nulls and NaNs

# What is the difference between sklearn's transform() and predict() methods?

https://stackoverflow.com/questions/62239470/what-is-the-difference-between-sklearns-transform-and-predict-methods

<div class="s-prose js-post-body" itemprop="text">
<p><code>predict</code> methods take the input features and return something that is <em>qualitatively</em> different, i.e. labels <code>y</code> (in supervised settings) or cluster memberships (in most clustering settings).</p>
<p><code>transform</code>, on the other hand, as its name already implies, returns something that is qualitatively <em>similar</em> to its input but expressed in a different <em>form</em>, i.e. scaled features, PCA features etc. And as a rule, they are usually accompanied with a respective <code>inverse_transform</code> method to return the input to its original form (while arguably we cannot imagine an <code>inverse_predict</code> method, to go from labels or cluster memberships to features).</p>
<p>This difference is readily apparent in cases such as the ones you mention, where both <code>predict</code> and <code>transform</code> methods are available; in kmeans, for example, <code>predict(X)</code> will return cluster memberships, but <code>transform(X)</code> will return a transformation (i.e. different version) <code>X_new</code> of the input features.</p>
    </div>

# MISC

In [27]:
date_lengths = earthquakes.Date.str.len()
date_lengths.value_counts()
indices = np.where([date_lengths == 24])[1]
print('Indices with corrupted data:', indices)
earthquakes.loc[indices]

NameError: name 'earthquakes' is not defined

In [ ]:
# convert to lower case
professors['Country'] = professors['Country'].str.lower()
# remove trailing white spaces
professors['Country'] = professors['Country'].str.strip()

In [ ]:
# helpful modules
import fuzzywuzzy
from fuzzywuzzy import process
import charset_normalizer

# get the top 10 closest matches to "south korea"
matches = fuzzywuzzy.process.extract("south korea", countries, limit=10, scorer=fuzzywuzzy.fuzz.token_sort_ratio)

# take a look at them
matches


# function to replace rows in the provided column of the provided dataframe
# that match the provided string above the provided ratio with the provided string
def replace_matches_in_column(df, column, string_to_match, min_ratio = 47):
    # get a list of unique strings
    strings = df[column].unique()
    
    # get the top 10 closest matches to our input string
    matches = fuzzywuzzy.process.extract(string_to_match, strings, 
                                         limit=10, scorer=fuzzywuzzy.fuzz.token_sort_ratio)

    # only get matches with a ratio > 90
    close_matches = [matches[0] for matches in matches if matches[1] >= min_ratio]

    # get the rows of all the close matches in our dataframe
    rows_with_matches = df[column].isin(close_matches)

    # replace all rows with close matches with the input matches 
    df.loc[rows_with_matches, column] = string_to_match
    
    # let us know the function's done
    print("All done!")

In [ ]:
professors['Graduated from'].drop_duplicates().sort_values(ascending=False)

In [ ]:
# TODO: Your code here
Graduated_from=sorted(professors['Graduated from'].unique())
Graduated_from